
     <nav>
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="nav-item nav-link" href = "/justdesserts">Home</a></li>
            <li><a class="nav-item nav-link" href = "/justdesserts/alldesserts">All Locations</a></li>
            <li><a class="nav-item nav-link" href = "/justdesserts/brooklyn">Brooklyn</a></li>
            <li><a class="nav-item nav-link" href = "/justdesserts/queens">Queens</a></li>
            <li><a class="nav-item nav-link" href = "/justdesserts/manhattan">Manhattan</a></li>
          </ul>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a class="nav-item nav-link" href="/justdesserts/sessions/new">Admin</a></li>
              <% if(currentUser) { %>
                <li><a class = "nav-item nav-link create" href = "/justdesserts/alldesserts/new">Add Location</a></li>
                <li><a class="nav-item nav-link" href="/justdesserts/users/new">Register</a></li>
                <li>
                    <form action="/justdesserts/sessions?_method=DELETE" method="POST">
                        <input class = "logout" type="submit" value="Logout"/>
                    </form>
                </li>
            <% } %>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
          <li><a class="nav-item nav-link" href = "/justdesserts">Home</a></li>
          <li><a class="nav-item nav-link" href = "/justdesserts/alldesserts">All Locations</a></li>
          <li><a class="nav-item nav-link" href = "/justdesserts/brooklyn">Brooklyn</a></li>
          <li><a class="nav-item nav-link" href = "/justdesserts/queens">Queens</a></li>
          <li><a class="nav-item nav-link" href = "/justdesserts/manhattan">Manhattan</a></li>
          <li><a class="nav-item nav-link" href="/justdesserts/sessions/new">Admin</a></li>
          <% if(currentUser) { %>
              <li><a class = "nav-item nav-link create" href = "/justdesserts/alldesserts/new">Add Location</a></li>
              <li><a class="nav-item nav-link" href="/justdesserts/users/new">Register</a></li>
              <li>
                  <form action="/justdesserts/sessions?_method=DELETE" method="POST">
                      <input class = "logout" type="submit" value="Logout"/>
                  </form>
              </li>
          <% } %>
        </ul>