<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Just Desserts</title>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" href = "../../css/main.css">
</head>
<body>
    <header>
        <h1>Just Desserts</h1>
        <% include partials/nav.ejs %>
    </header>
    <!--Maybe a modal?-->
    <h2>Welcome to Just Desserts NYC! A carefully curated collection of the top dessert spots to visit when you're in the city. Click on the links above to search by borough (sorry Bronx and Staten Island, we haven't gotten to you yet!) or browse all locations to see what appeals to you most.</h2>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
      <script>   
      $(document).ready(function(){
      $('.sidenav').sidenav();
            });
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>