<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Just Desserts</title>
</head>
<body>
    <header>
        <h1>Just Desserts</h1>
        <nav>
            <ul>
                <li><a href = "/justdesserts/alldesserts">Desserts</a></li>
            </ul>
        </nav>
    </header>
    <!--Maybe a modal?-->
    <p>Welcome to Just Desserts NYC! Here's our deal blah blah. Click on the links above to explore nearby desserts.</p>
</body>
</html>