/* Header */

header {
    /* background-image: url('https://images.unsplash.com/photo-1516478379578-ea8bea43365f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1543750318-20ba09bfa90b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');
    background-size: cover;
    /* background-position: 0px -370px; */
    background-position-x: center;
    background-position-y: bottom;
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    padding: 10px;
    text-align: right;
    font-size: 80px;
    color: white;
    margin-top: 0;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
}

nav {
    position: absolute;
    bottom: 0;
    /* margin-top: 228px; */
    /* background-color: rgba(153, 166, 192, .5); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7))
}

nav ul a {
    font-size: 1.5rem;
    text-shadow: 6px 6px 10px rgb(0, 0, 0);
}

.logout {
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
    color: white;
    font-size: 1.2rem;
}

/* Main Content */

p {
    text-align: center;
    font-size: 40px;
    margin: 30px;
}


/* Media Query */

@media (max-width: 600px) {
    header {
        height: 300px;
    }
}