/* Header */

header {
    background-image: url('https://images.unsplash.com/photo-1516478379578-ea8bea43365f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: 100%;
    background-position: -2px -150px;
    height: 400px;
}

h1 {
    padding: 20px;
    text-align: right;
    font-size: 80px;
    color: white;
}

nav {
    margin-top: 200px;
    font-size: 20px;
}

/* Main Content */

p {
    text-align: center;
    font-size: 40px;
    margin: 30px;
}