header {
    background-image: url('https://images.unsplash.com/photo-1506224477000-07aa8a76be20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
    height: 400px;
    background-position: -5px -190px;
    background-size: cover;
}

h2, h6 {
    text-align: center;
}

h1 {
    color: white;
    font-size: 80px;
    text-align: right;
    padding: 10px;
    margin-top: 0;
}

h4 {
    text-align: center;
    margin: 40px;
    font-size: 40px;
}

nav {
    margin-top: 228px;
    /* background-color: rgba(0, 0, 0, .5); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7))
}

img {
    height: 220px;
}

.card-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}