/* Header */
header {
    background-image: url('https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: -2px -300px;
    height: 400px;
}

h1 {
    color: white;
    font-size: 80px;
    text-align: right;
}

/* Main Content */

img {
    display: block;
    margin: 0 auto;
    width: 400px;
}

h2, h3 {
    text-align: center;
}

h2 {
    font-size: 65px;
    margin: 40px;
}

h3 {
    margin: 30px;
    font-size: 40px
}