header {
    background-image: url('https://images.unsplash.com/photo-1464349095431-e9a21285b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1098&q=80');
    height: 400px;
    background-position: 0px -370px;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 80px;
    text-align: right;
    padding: 10px;
    margin-top: 0;
}

h4 {
    text-align: center;
    margin: 40px;
    font-size: 40px;
}

nav {
    margin-top: 228px;
    font-size: 20px;
    /* background-color: rgb(153, 166, 192); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7))
}

img {
    height: 220px;
}

.card-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}