<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dessert Show page</title>
</head>
<body>
        <header>
                <h1>Just Desserts</h1>
                <a href = "/justdesserts/alldesserts">Back to Store!</a>
        </header>
        <h2><%=dessert.name%></h2>
        <img src = "<%=dessert.img%>">
        <br>
        <h3><%=dessert.description%></h3>
        <h3><%=dessert.rating%></h3>
</body>
</html>