<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Roboto:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel = "stylesheet" href = "/css/alldesserts/new.css">
    </head>
    <body>
        <header>
            <h1>Just Desserts</h1>
            <% include ../partials/nav.ejs %>
        </header>
    </main>
        <h2>Create User</h1>
        <div class="row">
        <form  class="col s12" action="/justdesserts/users" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="username" placeholder="username"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="password" name="password" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input class = "submit" type="submit" value="Create User" />
                </div>
            </div>
        </form>
        </div>
    </main>
        <% include ../partials/footer.ejs %>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script>   
            $(document).ready(function(){
            $('.sidenav').sidenav();
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>