body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

header {
    background-image: url('https://images.unsplash.com/photo-1520352823777-923f7151a680?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    height: 400px;
    /* background-position: 0px -370px; */
    background-position-x: center;
    background-position-y: -370px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-size: 80px;
    text-align: right;
    padding: 10px;
    margin-top: 0;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    font-family: 'Fredericka the Great', cursive;

}

h5 {
    height: 50px;
}

h2 {
    text-align: center;
    margin: 40px;
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
}

nav {
    position: absolute;
    bottom: 0;
    /* margin-top: 228px; */
    font-size: 20px;
    /* background-color: rgb(153, 166, 192); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7))
}

nav ul a{
    font-size: 1.5rem;
    text-shadow: 6px 6px 10px rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.logout {
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
    color: white;
    font-size: 1.2rem;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 220px;
}

.card-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: 430px;
    border: double rgb(192, 191, 191) 5px;
    box-shadow: 4px 4px 15px #a19e9e;
}

/* Footer */

footer {
    background-color: rgb(245, 239, 240);
    width: 100%;
    margin-bottom: 0px;
}

footer p {
    margin: 0;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Media Query */

@media (max-width: 600px) {
    header {
        height: 300px;
        background-position-y: -150px;
    }
}